<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>

      <%= f.label :email %><br />
      <%= f.email_field :email %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <%= f.label :language, "Language" %>
      <%= f.select :language, [['English', 'en'], ['Vietnamese', 'vn']] %>

      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to "Back", :back, class: "glyphicon glyphicon-step-backward" %>
