<div class="answer-sheets-disable-radio">
  <span>
    <%= f.options[:child_index]+1 %>.&nbsp
    <%= f.hidden_field :question_id, value: f.object.question.id %>
    <%= f.object.question.content %>
  </span><br \>
  <% f.object.question.options.each do |option| %>
    <span class="options-sheet">
      <%= f.radio_button :option_id, option.id %>
      <p><%= option.content %></p>
    </span>
  <% end %>
</div>
