<%= javascript_include_tag :index_examination_admin %>

<h1>All examinations</h1>
<div class="my-search">
  <%= form_tag admin_examinations_path, method: :get, id: "my-search" do %>
    <%= label_tag :Search_user %>
    <%= text_field_tag :search, params[:search],
                        class: "my-search-field" %>
    <%= link_to "", "#", onclick: "$('#my-search').submit()",
                        class: "glyphicon glyphicon-search" %>
  <% end %>
</div>
<div class="my-divTable">
  <div class="headRow">
    <div class="divCell">Modified</div>
    <div id="my-select-course" class="divCell" style="height: 20px">
      <%= form_tag admin_examinations_path, method: :get do %>
        <%= select_tag "courses", options_from_collection_for_select(@courses,
               "id", "name"), prompt: "All courses" %>
      <% end %>
    </div>
    <div class="divCell">User name</div>
    <div class="divCell">Datetime</div>
    <div class="divCell">Status</div>
    <div class="divCell">Action</div>
  </div>
  <div id="my-all-examinations" class="divRow">
    <%= render 'examination' %>
  </div>
</div>
