<h1>All examinations</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th style="width: 150px">Name</th>
        <th style="width: 250px">User name</th>
        <th style="width: 300px">Datetime</th>
        <th style="width: 300px">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @examinations.each do |exam| %>
        <tr>
          <td>
            <%= link_to "", admin_examination_path(exam),
                      method: :delete, data: {confirm: "Are you sure?"},
                      class: "glyphicon glyphicon-trash" %>
           </td>
          <td><%= exam.course.name %></td>
          <td><%= exam.user.name %></td>
          <td><%= exam.created_at %></td>
          <td>
            <%= exam.status %>&nbsp&nbsp&nbsp
            <% if exam.status == "Checked" %>
              <%= exam.answers.correct_answers.count %>/20
            <% end %>
          </td>
          <td>
            <% if exam.status == "Checked" %>
              <%= link_to "View", admin_examination_path(exam) %>
            <% elsif exam.status == "Submited" %>
              <%= link_to "Check", admin_examination_path(exam) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
