<tr>
  <td><%= gravatar_for user, size: 30 %></td>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.role %></td>
  <td><%= user.created_at %></td>
  <td><% unless user.is_admin? %>
        <%= link_to "", admin_user_path(user),
          method: :delete, data: {confirm: "You sure?"}, class: "glyphicon glyphicon-trash" %>
      <% end %>
  </td>
</tr>
