<div class="answer-sheets-disable-radio">
  <span>
    <%= f.options[:child_index]+1 %>.&nbsp
    <%= f.hidden_field :question_id, value: f.object.question.id %>
    <%= f.object.question.content %>
  </span><br \>
  <% f.object.question.options.each do |option| %>
    <% if f.object.correct == true && f.object.option_id == option.id %>
      <span class="options-sheet">
        <%= f.radio_button :option_id, option.id %>
        <p><%= option.content %><span class= "glyphicon glyphicon-ok" ></span></li></p>
      </span>
    <% elsif f.object.correct != true && f.object.option_id == option.id %>
      <span class="options-sheet" style="color:red">
        <%= f.radio_button :option_id, option.id %>
        <p><%= option.content %></p>
      </span>
    <% else %>
      <span class="options-sheet">
        <%= f.radio_button :option_id, option.id %>
        <p><%= option.content %></p>
      </span>
    <% end %>

  <% end %>
</div>

<script type="text/javascript">
  $("input[type='radio']").attr('disabled', true);
</script>
