<h1>All examinations</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @examination do |f| %>
      <%= f.label :course_id, "Course" %>
      <%= f.collection_select :course_id, Course.all, :id, :name %>
      <%= f.hidden_field :user_id, value: current_user.id%>
      <%= f.hidden_field :status, value: "Ready" %>
      <div id="start-new">
        <%= f.submit "Start New", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<br \>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 150px">Name</th>
        <th style="width: 200px">Created at</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @examinations.each do |exam| %>
        <tr>
          <td><%= exam.course.name %></td>
          <td><%= exam.course.created_at %></td>
          <td>
            <%= exam.status %>&nbsp&nbsp&nbsp
            <% if exam.time_submited %>
              <%= exam.time_length exam.time_submited %>&nbsp&nbsp&nbsp
            <% end %>
            <% if exam.status == "Checked" %>
              <%= exam.correct_answers %>/20
            <% end %>
          </td>
          <td>
            <% if exam.status == "Submited" || exam.status == "Checked" %>
              <%= link_to "View", examination_path(exam) %>
            <% else %>
              <div id= "getting" data-time="<%= Time.zone.now() + exam.course.time_countdown %>" data-id-exam="<%= exam.id %>" data-exam-status="<%= exam.status %>">
                <%= link_to "Start", examination_path(exam), class: "start" %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">

  $(window).ready(function() {
    var status = $("#getting").data('exam-status');
    if (status == "Ready")
      $('#start-new').remove();
  });

</script>
