<div>
  <span><%= @examination.created_at %></span>
  <div style="float: right;position:fixed;top:55px;right:200px;">
    Time left:
    <span id="getting-started" data-id-exam="<%= @examination.id %>" data-time="<%= Time.zone.now() %>">
    </span>
  </div>
</div>
<h2><%= @examination.course.name %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@examination) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :status, value: "Submited" %>
      <%= f.fields_for :answers do |builder| %>
        <% if @examination.status == "Checked" %>
          <%= render 'answer_fields_checked', f: builder %>
        <% else %>
          <%= render 'answer_fields', f: builder %>
        <% end %>
      <% end %>
      <p><%= f.submit "Submit", class: "btn btn-primary", id: 'exam-btn-submit' %></p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var data_id_exam = $("#getting-started").data('id-exam');
  var timer2 = $("#getting-started").data('time');
  var timer = localStorage.getItem('id_' + data_id_exam) || 0;
  if ((timer != 0) && (timer > timer2)) {
    $(window).load(function(event) {
      var a=confirm('You want to submit?');
        if (a==true)
          $('#exam-btn-submit').click();
        else
          return false
    });

    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";
    window.onhashchange=function(){window.location.hash="no-back-button";}

    $(window).ready(function() {
      $('header').bind('click', function(event){
        var c=confirm('You want to submit?');
        if (c==true)
          $('#exam-btn-submit').click();
        else
          return false
      });

      $('footer').bind('click', function(event){
        var b=confirm('You want to submit?');
        if (b==true)
          $('#exam-btn-submit').click();
        else
          return false
      });
    });
  }
</script>
